.header-section-1 nav {
    padding:  16px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header a {
    font-size: 14px;
}

.header-section-1 nav div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

header{
    position: sticky;
    top: 0px;
    background-color: #fff;
}


.sec-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
}

.sec-1-1 ul li a {
    color: #31374A;
    transition: 0.3s;
    &:hover {
        color: #3874FF;
    }
}

.sec-1-2 {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 24px;
}

.header-section-2 {
    background-color : white;
}

.header-section-2 nav ul {
    display: flex;
    gap: 24px;
}

.header-section-2 nav ul li a {
    color:#31374A;
    transition: 0.3s;
    &:hover{
        color: #3874FF;
    }
}